<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}Tra cứu văn bản QPPL {% endblock %}</title></head>
<body>
    <div class="navigate">
        <ul>
            <a href="/">Trang Chủ</a>
            <a href="/search">Tra cứu pháp luật</a>
            <a href="/thuat_ngu">Thuật ngữ</a>
            <a href="/traloi_cauhoi">Chat bot</a>
            <a href="/login">Login</a>

        </ul>
    </div>
    {% extends 'BoPhapDien.html'%}
</body>
</html>
